language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '10'
  - '9'
  - '8'
  - '6'
after_success:
  - npm run report-coverage
  - npm run travis-deploy-once "npm run semantic-release"
script:
  - npm run prepare-for-release
branches:
  only:
    - master
